@charset "UTF-8";

/* Break Point */
$breakpoint_pc: 1026px;
$breakpoint_tab: 1025px;
$breakpoint_tab_sec: 768px;
$breakpoint_sp: 480px;

// FOR COMMON
$type: common;
@import "_auth";

// FOR pc SIZE
@media screen and (min-width: $breakpoint_pc) {
  $type: pc;
  @import "_auth";
}

// FOR tab SIZE
@media screen and (max-width: $breakpoint_tab) {
  $type: tab;
  @import "_auth";
}

// FOR tab SIZE
@media screen and (max-width: $breakpoint_tab_sec) {
  $type: tab_sec;
  @import "_auth";
}

// FOR SP SIZE
@media screen and (max-width: $breakpoint_sp) {
  $type: sp;
  @import "_auth";
}
